<h3>
  About
</h3>
<p>Tempor adipisicing id enim veniam anim non exercitation incididunt veniam irure sit nulla. Amet quis amet aliqua culpa fugiat ut. Duis dolor aute Lorem est tempor incididunt. Non Lorem ad anim ipsum ad mollit pariatur Lorem eu excepteur. Enim ullamco voluptate occaecat reprehenderit excepteur exercitation adipisicing Lorem laborum. Ipsum exercitation ea laborum labore amet do fugiat sint est ea do irure. Officia sunt aute pariatur nulla.</p>

<hr>
<div *ngFor="let post of posts">
<h3>{{ post.title }}</h3>
<p>
    {{ post.body}}
</p>
<p>
  n. id: {{ post.id}}
</p>
<hr>
</div>